* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: mediumaquamarine;
  font-family: 'Nerko One', cursive;
}

header {
  color:white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.row {
  height: 200px;
  margin-bottom: 25px;
}

.cards{
  margin: auto 15%;
}

.card {
  display: inline-block;
  width: 155px;
  height: 200px;
  border-radius: 15px;
  margin-right: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  position: relative;
}

.img {
  max-width: 155px;
  max-height: 180px;
}


.text {
  font-size: 20px;
  color: deeppink;
}

.cover {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-image: url("../img/pattern.png");
  background-size: contain;
  background-repeat: repeat;
  background-color: white;
}

 div.cover:hover {
  display: none;
}

div.card:hover .text {
  color: darkorange;
}
